body
    {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        width: 75%; /*1390px */
    }
/* ----------------------------------------------------------------- */    
/* --------------------------- HEADER ------------------------------ */
/* ----------------------------------------------------------------- */
header
    {
        padding: 0 3% 0 3%; /*50px */
    }

nav
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

    }

nav img
    {
        height: 45px;
    }

#MENU
    {
        display: flex;
        list-style: none;
        align-items: end;
    }

.CHOIX
    {
        padding-top: 0;
        box-shadow: inset 0 2px transparent;
        height: 100px;
        display: flex;
        flex-direction: column;
       justify-content: center;
    }

.CHOIX :hover
    {
        box-shadow: inset 0 2px #0065FC;        
    }

#MENU a
    {
        /* display: block; */
        color: black;
        margin: 0 10px 0 20px;
        text-decoration: none;

    }

#MENU a:hover
    {
        box-shadow: inset 0 2px #0065FC;
        color: #0065FC;
    }

/* ----------------------------------------------------------------- */    
/* ---------------------------  MAIN  ------------------------------ */
/* ----------------------------------------------------------------- */
h2
    {
        margin-block-start: 0;
    }
/* ************************** RECHERCHE **************************** */
/* ***************************************************************** */
#RECHERCHE
    {
        padding: 0 3% 0 3%;
    }

#FORMULAIRE
    {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 25px;
    }
#FORMULAIRE_IMG
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #F2F2F2;
        border-left: 2px solid #F2F2F2;
        border-radius: 20% 0 0 20%;
    }



.text
    {
        height: 46px;
        border:none;
        border-top: solid 1px #F2F2F2;
        border-bottom: solid 1px #F2F2F2;
        font-weight: bold;
        font-size: 100%;
        padding-left: 20px;
    }
.submit
    {
        background-color: #0065FC;
        height: 50px;
        border: none;
        border-right: 2px solid #0065FC;
        border-radius: 0 15px 15px 0;
        color: white;
        font-size: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }

/* *** Filtres *** */
#FILTRE
    {
        display: flex;
        font-weight: bolder;
        margin-bottom: 25px;
        flex-wrap: wrap;
    }

.FILTRE_BOUTON
    {
        display: flex;
        margin-left: 25px;
        box-shadow: 2px 2px 0 #F2F2F2 inset ,  -2px -2px 0 #F2F2F2 inset;
        border-radius: 25px;
    }

.FILTRE_IMG
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #DEEBFF;
        border-radius: 25px;
        color: #0065FC;
    }

.FILTRE_TXT
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

/* *** INFOS *** */
#INFOS
    {
        display: flex;
        margin-bottom: 25px;
    }

#INFOS_IMG
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        height: 25px;
        width: 25px;
        border: 1px solid #F2F2F2;
        border-radius: 25px;
    }

#INFOS_TXT
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }



/* ************************** HEBERGEMENTS **************************** */
/* ***************************************************************** */
#HEBERGEMENTS
    {
        padding: 0 3% 0 3%;
        display:flex;
        justify-content: space-between;
    }

    #RESULTATS
        {
            background-color: #F2F2F2;
            margin-right: 50px;
            padding: 3%;
            border-radius: 25px;
        }

        #RESULTATS_TXT
            {
                height: 50px;
                display: flex;
                align-items: start;
            }

        /* *** LISTE *** */
        #LISTE
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        
            .VIGNETTE
                {
                    width: 236px;
                    height: 190px;
                    background-color: white;
                    border: 5px solid white;
                    border-radius: 25px;
                    margin-bottom: 30px;
                }

            .VIGNETTE_TXT
                {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            
            .VIGNETTE_IMG img
                {
                    
                    width: 236px;
                    height: 114px;
                    object-fit: cover;
                    border-radius: 25px 25px 0 0;
                    
                }

            .BLEU
                {
                    color: #0065FC;
                }

            .GRIS
                {
                    color: #24242441;
                }
            
    /* *** POPULARITÉ *** */
    #POPULARITE
        {
            background-color: #F2F2F2;
            padding: 3%;
            border-radius: 25px;
        }
    #POP_TITRE
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    #POP_TITRE_TXT
        {
            height: 50px;
            display: flex;
            align-items: start;

        }


    #POP_STAR
        {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: start;
        }

    #POP_LISTE
        {
            gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .VIGNETTE_POP
            {
                width: 333px;
                border: 5px solid white;
                display: flex;
                border-radius: 25px;
                background-color: white;
            }
        .VIGNETTE_POP img
            {
                width: 128px;
                height: 133px;
                object-fit: cover;
                border-radius: 25px 0 0 25px;
            }
        .VIGNETTE_POP_INFOS
            {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            
/* ************************** ACTIVITES **************************** */
/* ***************************************************************** */
#ACTIVITES
    {
        padding: 3%;
    }

#ACTIVITES_LISTE
    {
        display: flex;
        justify-content: space-between;

    }

.VIGNETTES_ACT
    {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.VIGNETTE_ACT_HIGH
    {
        width: 23%;
        box-shadow: 2px 3px 15px grey;
        border-radius: 25px 25px 25px 25px;
    }

.VIGNETTE_ACT_HIGH_IMG img
    {
        width: 100%;
        height: 390px;
        object-fit: none;
        border-radius: 25px 25px 0 0;
    }

.VIGNETTE_ACT_LOW
    {
        border-radius: 25px 25px 25px 25px;
        box-shadow: 2px 3px 15px grey;
    }

.VIGNETTE_ACT_LOW_IMG img
    {
        width: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }

.ACT1 img
    {
        height: 180px;
    }

.ACT2 img
    {
        height: 106px;
    }

.ACT3 img
    {
        height: 140px;
    }

.ACT4 img
    {
        height: 150px;
    }

.VIGNETTE_ACT_TXT
    {
        height: 50px;
        border-radius: 0 0 25px 25px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: bolder;

    }
/* ----------------------------------------------------------------- */    
/* --------------------------- FOOTER ------------------------------ */
/* ----------------------------------------------------------------- */
footer
    {
        display: flex;
        justify-content: space-between;
        align-items: left;
        background-color: #F2F2F2;
        padding: 50px;
    }

.DIV_FOOTER
    {
        width: 33%;
    }

footer ul
    {
        padding: 0;
        margin-left: 0;
    }

footer h4
    {
        margin-block-start: 0px;
        font-weight: bold;
    }

footer li
    {
        list-style: none;
        line-height: 200%;
    }